{% extends "layout.html" %}
{% block content %}
<script src="../static/home.js"></script>
<main-title>
    <b>Learn to dance your style!</b>
</main-title>
<p style="font-size: large; text-align: center; margin-bottom: 50px;">
    DANCEHUB teaches you the essentials to becoming a solid freestyle dancer. Whether you are a professional dancer wanting to compete in the Red Bull Dance Competition or someone who wants to look good dancing with your friends on Afrobeats night at the club, this tutorial is for you. 
</p>
<button id = "start" class="center start">
    Let's get started!
</button>

<footer>
    <p>&copy; 2024 UI DESIGN</p>
</footer>

{% endblock %}